{% extends 'login_base.html' %}

{% block contents %}
<div class = "container">
    <h1>Sign</h1>

    <form method="POST" action="{% url 'sign' %}">
        {% csrf_token %}

        Username:
        <br>
        <input name="username" type="text">
        <br>
        Password:
        <br>
        <input name="password" type="password">
        <br>
        Confirm Password:
        <br>
        <input name="password2" type="password">
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Sign Up">
    </form>
</div>

{% endblock %}